.footer-line {
    border: 1.42px solid #FFDE88;
  }
  
  .footer-text {
    text-align: center;
    margin-top: 10px;
    font-family: Euclid Circular B;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
color: #ffffff;

  }
  