body {
  background-color: black;
}
.App {
  text-align: center;
}

.login-wrap{
  margin-top: 227px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-statement{
  color: #FFF;
font-size: 16px;
font-family: Euclid Circular B;

}

.login-txt{
  color: #FFF;
font-size: 32px;
font-family: Euclid Circular B;

}